<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>logoName</key>
		<string>yhealth-heart-hands</string>
		<key>title</key>
		<string>ACME</string>
		<key>description</key>
		<string>Some ACME description?</string>
		<key>percentage</key>
		<integer>42</integer>
		<key>color</key>
		<string>5c91fc</string>
	</dict>
	<dict>
		<key>logoName</key>
		<string>yhealth-heart-hands</string>
		<key>title</key>
		<string>CIGNA</string>
		<key>description</key>
		<string>Some CIGNA description?</string>
		<key>percentage</key>
		<integer>36</integer>
		<key>color</key>
		<string>21caaa</string>
	</dict>
	<dict>
		<key>logoName</key>
		<string>yhealth-heart-hands</string>
		<key>title</key>
		<string>UNITED</string>
		<key>description</key>
		<string>Some UNITED description?</string>
		<key>percentage</key>
		<integer>22</integer>
		<key>color</key>
		<string>FF9800</string>
	</dict>
</array>
</plist>
